### Importaciones

In [116]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import janitor

In [117]:
%run scripts.py

### Carga de datos y tratamientos de valores faltantes o inconsistencias

#### Carga de datos

In [118]:
data_raw = pd.read_csv('euro2024_players.csv')
data_raw

,Name,Position,Age,Club,Height,Foot,Caps,Goals,MarketValue,Country
0,Marc-André ter Stegen,Goalkeeper,32,FC Barcelona,187,right,40,0,28000000,Germany
1,Manuel Neuer,Goalkeeper,38,Bayern Munich,193,right,119,0,4000000,Germany
2,Oliver Baumann,Goalkeeper,34,TSG 1899 Hoffenheim,187,right,0,0,3000000,Germany
3,Nico Schlotterbeck,Centre-Back,24,Borussia Dortmund,191,left,12,0,40000000,Germany
4,Jonathan Tah,Centre-Back,28,Bayer 04 Leverkusen,195,right,25,0,30000000,Germany
...,...,...,...,...,...,...,...,...,...,...
618,Adam Hlozek,Second Striker,21,Bayer 04 Leverkusen,188,right,31,2,12000000,Czech Republic
619,Patrik Schick,Centre-Forward,28,Bayer 04 Leverkusen,191,left,37,18,22000000,Czech Republic
620,Mojmír Chytil,Centre-Forward,25,SK Slavia Prague,187,-,12,4,6500000,Czech Republic
621,Jan Kuchta,Centre-Forward,27,AC Sparta Prague,185,right,20,3,5000000,Czech Republic
622,Tomas Chory,Centre-Forward,29,FC Viktoria Plzen,199,right,3,2,3200000,Czech Republic

#### Limpiando datos

In [119]:
(
    data_raw.isnull()
    .pipe(
        lambda df: df[df==True].count()
    )
)

Name           0
Position       0
Age            0
Club           0
Height         0
Foot           3
Caps           0
Goals          0
MarketValue    0
Country        0
dtype: int64

In [120]:

data_raw['Foot'] = data_raw['Foot'].fillna('right')
data_raw['Foot'] = data_raw['Foot'].str.replace("-", "right", case=False, regex=False)

data = (
    data_raw.rename_columns(
    {
        'Name' : 'Nombre',
        'Position' : 'Posicion',
        'Age' : 'Edad',
        'Club' : 'Club',
        'Height' : 'Estatura(cm)',
        'Foot' : 'Pierna_Dom',
        'Caps' : 'Partidos',
        'Goals' : 'Goles',
        'MarketValue' : 'Valor_de_Mercado',
        'Country' : 'Pais'    
    }
    
)

    
)
data

,Nombre,Posicion,Edad,Club,Estatura(cm),Pierna_Dom,Partidos,Goles,Valor_de_Mercado,Pais
0,Marc-André ter Stegen,Goalkeeper,32,FC Barcelona,187,right,40,0,28000000,Germany
1,Manuel Neuer,Goalkeeper,38,Bayern Munich,193,right,119,0,4000000,Germany
2,Oliver Baumann,Goalkeeper,34,TSG 1899 Hoffenheim,187,right,0,0,3000000,Germany
3,Nico Schlotterbeck,Centre-Back,24,Borussia Dortmund,191,left,12,0,40000000,Germany
4,Jonathan Tah,Centre-Back,28,Bayer 04 Leverkusen,195,right,25,0,30000000,Germany
...,...,...,...,...,...,...,...,...,...,...
618,Adam Hlozek,Second Striker,21,Bayer 04 Leverkusen,188,right,31,2,12000000,Czech Republic
619,Patrik Schick,Centre-Forward,28,Bayer 04 Leverkusen,191,left,37,18,22000000,Czech Republic
620,Mojmír Chytil,Centre-Forward,25,SK Slavia Prague,187,right,12,4,6500000,Czech Republic
621,Jan Kuchta,Centre-Forward,27,AC Sparta Prague,185,right,20,3,5000000,Czech Republic
622,Tomas Chory,Centre-Forward,29,FC Viktoria Plzen,199,right,3,2,3200000,Czech Republic

#### Traduciendo posiciones al espanol

In [121]:
data['Posicion'] = data['Posicion'].replace(
    {
        
        'Centre-Back' : 'Defensa-Central',
        'Central Midfield' :  'Centrocampista-Central',
        'Centre-Forward': 'Delantero-Centro',
        'Goalkeeper' : 'Portero',
        'Defensive Midfield' : 'Centrocampista-Defensivo',
        'Attacking Midfield' : 'Centrocampista-Ofensivo',
        'Left Winger' : 'Extremo-Izquierdo',
        'Right-Back' : 'Lateral-Derecho',
        'Right Winger' :  'Extremo-Derecho',
        'Left-Back' : 'Lateral-Izquierdo',
        'Right Midfield' : 'Interior-Derecho',
        'Second Striker': 'Segundo-Delantero',
        'Left Midfield': 'Interior-Izquierdo'
    }
)

### Preguntas a priori

#### ¿Como está distribuido la participación por posición?

In [122]:
data['Posicion'].value_counts()

Posicion
Defensa-Central             125
Centrocampista-Central       81
Delantero-Centro             77
Portero                      72
Centrocampista-Defensivo     50
Centrocampista-Ofensivo      48
Extremo-Izquierdo            44
Lateral-Derecho              43
Extremo-Derecho              35
Lateral-Izquierdo            33
Interior-Derecho              6
Segundo-Delantero             5
Interior-Izquierdo            4
Name: count, dtype: int64

#### ¿Cuál es la distribución de participación de clubes?

In [123]:
data.Club.value_counts().head(25)

Club
Manchester City        13
Inter Milan            13
FC Barcelona           12
Real Madrid            12
Paris Saint-Germain    12
RB Leipzig             11
Bayern Munich          11
Bayer 04 Leverkusen    10
Arsenal FC             10
Liverpool FC            9
Juventus FC             9
SK Slavia Prague        9
AS Roma                 9
VfL Wolfsburg           8
AC Milan                8
Fenerbahce              8
Manchester United       8
Bologna FC 1909         8
Atlético de Madrid      7
Feyenoord Rotterdam     7
Brentford FC            7
Shakhtar Donetsk        7
Torino FC               6
RSC Anderlecht          6
Real Sociedad           6
Name: count, dtype: int64

#### Mayores goleadores internacionales de la competición

In [124]:
#numero_ranking = [1]
data.select_columns(['Nombre', 'Goles']).sort_values('Goles', ascending=False).set_index(data.index+1).head(30)

                 Nombre  Goles
1     Cristiano Ronaldo    128
2         Romelu Lukaku     83
3    Robert Lewandowski     82
4            Harry Kane     63
5        Olivier Giroud     57
6   Aleksandar Mitrovic     57
7         Kylian Mbappé     47
8     Andriy Yarmolenko     46
9         Thomas Müller     45
10        Memphis Depay     45
11    Antoine Griezmann     44
12    Christian Eriksen     41
13     Marko Arnautovic     36
14        Álvaro Morata     34
15         Ivan Perisic     33
16      Xherdan Shaqiri     31
17  Georginio Wijnaldum     28
18      Andrej Kramaric     28
19      Kevin De Bruyne     27
20          Luka Modric     24
21      Bruno Fernandes     22
22          Dusan Tadic     22
23           Cenk Tosun     20
24        Ferran Torres     19
25       İlkay Gündoğan     18
26     Hakan Çalhanoğlu     18
27        Patrik Schick     18
28           Toni Kroos     17
29      Marcel Sabitzer     17
30       Kamil Grosicki     17

#### Jugadores mas valiosos

In [125]:
data.select_columns(["Nombre", 'Valor_de_Mercado' ]).sort_values('Valor_de_Mercado', ascending=False).set_index(data.index+1).head(20)

                   Nombre  Valor_de_Mercado
1         Jude Bellingham         180000000
2           Kylian Mbappé         180000000
3              Phil Foden         150000000
4             Bukayo Saka         140000000
5           Florian Wirtz         130000000
6                   Rodri         120000000
7             Declan Rice         120000000
8           Jamal Musiala         120000000
9       Eduardo Camavinga         100000000
10             Harry Kane         100000000
11    Aurélien Tchouaméni         100000000
12           Lamine Yamal          90000000
13            Rafael Leão          90000000
14            Cole Palmer          80000000
15         William Saliba          80000000
16                  Pedri          80000000
17             Rúben Dias          80000000
18            Xavi Simons          80000000
19  Khvicha Kvaratskhelia          80000000
20         Nicolò Barella          80000000

### Preguntas de primer nivel

#### Construyendo Dataframe por equipos

In [126]:
data_equipos = (
    
    data.groupby(['Pais'])
    .sum()
    .drop(columns=['Nombre', 'Pierna_Dom', 'Club'])
    .assign(Total_Jugadores= data['Pais'].value_counts()) 
    .reset_index()
    .transform_column(
        column_name = 'Valor_de_Mercado',
        function = lambda x: round(x/1000000, 2)
    )
                )

data_equipos['Edad'] = data_equipos['Edad']/data_equipos['Total_Jugadores']

data_equipos['Estatura(cm)'] = data_equipos['Estatura(cm)']/data_equipos['Total_Jugadores']

data_equipos_SP = data

data_equipos

,Pais,Posicion,Edad,Estatura(cm),Partidos,Goles,Valor_de_Mercado,Total_Jugadores
0,Albania,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.307692,183.615385,679,40,111.60,26
1,Austria,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.807692,183.192308,613,93,235.50,26
2,Belgium,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.880000,184.680000,949,177,584.50,25
3,Croatia,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.692308,184.115385,1152,147,327.70,26
4,Czech Republic,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,25.307692,185.538462,405,65,193.90,26
5,Denmark,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.692308,186.269231,1071,135,415.50,26
6,England,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.076923,182.461538,651,100,1515.00,26
7,France,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.880000,184.440000,836,192,1234.00,25
8,Georgia,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.153846,184.500000,750,64,160.15,26
9,Germany,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,28.115385,185.384615,906,134,851.00,26
10,Hungary,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.423077,182.807692,750,60,164.45,26
11,Italy,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.500000,184.346154,529,59,705.50,26
12,Netherlands,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.538462,185.192308,838,141,845.00,26
13,Poland,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.555556,184.814815,825,154,212.40,27
14,Portugal,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.961538,182.384615,1113,225,1054.50,26
15,Romania,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.000000,183.846154,590,63,92.12,26
16,Scotland,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,28.230769,182.692308,643,59,207.40,26
17,Serbia,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.384615,186.769231,860,129,311.80,26
18,Slovakia,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.269231,184.423077,862,67,156.70,26
19,Slovenia,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.346154,184.923077,771,78,139.50,26
20,Spain,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.961538,181.769231,535,95,965.50,26
21,Switzerland,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.692308,183.923077,1092,125,282.00,26
22,Turkiye,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,25.807692,183.923077,632,71,324.10,26
23,Ukraine,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.346154,184.346154,849,114,379.00,26

#### DataFrame por equipos sin portero

In [127]:
data_equipos_SP = data[data['Posicion']!= 'Portero']

data_equipos_SP = (
    
    data_equipos_SP.groupby(['Pais'])
    .sum()
    .drop(columns=['Nombre', 'Pierna_Dom', 'Club'])
    .assign(Total_Jugadores= data_equipos_SP['Pais'].value_counts()) 
    .reset_index()
    .transform_column(
        column_name = 'Valor_de_Mercado',
        function = lambda x: round(x/1000000, 2)
    )
                )

data_equipos_SP['Edad'] = data_equipos_SP['Edad']/data_equipos_SP['Total_Jugadores']

data_equipos_SP['Estatura(cm)'] = data_equipos_SP['Estatura(cm)']/data_equipos_SP['Total_Jugadores']

data_equipos_SP

,Pais,Posicion,Edad,Estatura(cm),Partidos,Goles,Valor_de_Mercado,Total_Jugadores
0,Albania,Defensa-CentralDefensa-CentralDefensa-CentralD...,26.913043,182.521739,569,40,106.80,23
1,Austria,Defensa-CentralDefensa-CentralDefensa-CentralD...,26.695652,182.739130,571,93,231.70,23
2,Belgium,Defensa-CentralDefensa-CentralDefensa-CentralD...,26.272727,183.727273,931,177,568.50,22
3,Croatia,Defensa-CentralDefensa-CentralDefensa-CentralD...,27.739130,182.956522,1092,147,309.70,23
4,Czech Republic,Defensa-CentralDefensa-CentralDefensa-CentralD...,25.391304,184.608696,395,65,178.40,23
5,Denmark,Defensa-CentralDefensa-CentralDefensa-CentralD...,27.347826,186.043478,961,135,401.00,23
6,England,Defensa-CentralDefensa-CentralDefensa-CentralD...,25.869565,181.782609,584,100,1456.00,23
7,France,Defensa-CentralDefensa-CentralDefensa-CentralD...,26.500000,183.545455,813,192,1171.00,22
8,Georgia,Defensa-CentralDefensa-CentralDefensa-CentralD...,26.956522,182.913043,656,64,124.50,23
9,Germany,Defensa-CentralDefensa-CentralDefensa-CentralD...,27.260870,184.913043,747,134,816.00,23
10,Hungary,Defensa-CentralDefensa-CentralDefensa-CentralD...,26.652174,181.782609,660,60,158.45,23
11,Italy,Defensa-CentralDefensa-CentralDefensa-CentralD...,26.521739,183.173913,463,59,618.50,23
12,Netherlands,Defensa-CentralDefensa-CentralDefensa-CentralD...,26.652174,184.260870,817,141,802.00,23
13,Poland,Defensa-CentralDefensa-CentralDefensa-CentralD...,27.208333,183.625000,733,154,182.90,24
14,Portugal,Defensa-CentralDefensa-CentralDefensa-CentralD...,26.521739,181.478261,983,225,999.50,23
15,Romania,Defensa-CentralDefensa-CentralDefensa-CentralD...,26.782609,183.043478,557,63,86.40,23
16,Scotland,Defensa-CentralDefensa-CentralDefensa-CentralD...,28.130435,181.695652,632,59,203.40,23
17,Serbia,Defensa-CentralDefensa-CentralDefensa-CentralD...,27.521739,185.608696,807,129,276.80,23
18,Slovakia,Defensa-CentralDefensa-CentralDefensa-CentralD...,27.000000,183.260870,798,67,151.20,23
19,Slovenia,Defensa-CentralDefensa-CentralDefensa-CentralD...,26.956522,184.173913,685,78,110.70,23
20,Spain,Defensa-CentralDefensa-CentralDefensa-CentralD...,26.869565,180.956522,490,95,875.50,23
21,Switzerland,Defensa-CentralDefensa-CentralDefensa-CentralD...,27.347826,183.173913,990,125,234.00,23
22,Turkiye,Defensa-CentralDefensa-CentralDefensa-CentralD...,25.304348,182.478261,568,71,304.90,23
23,Ukraine,Defensa-CentralDefensa-CentralDefensa-CentralD...,26.434783,182.913043,809,114,322.00,23

#### Rankings

##### Ranking de estatura promedio de los equipos

In [128]:
altura_rank = data_equipos.loc[:,['Pais', 'Estatura(cm)']].sort_values('Estatura(cm)',ascending=False).set_index(data_equipos.index+1)
altura_rank

              Pais  Estatura(cm)
1           Serbia    186.769231
2          Denmark    186.269231
3   Czech Republic    185.538462
4          Germany    185.384615
5      Netherlands    185.192308
6         Slovenia    184.923077
7           Poland    184.814815
8          Belgium    184.680000
9          Georgia    184.500000
10          France    184.440000
11        Slovakia    184.423077
12         Ukraine    184.346154
13           Italy    184.346154
14         Croatia    184.115385
15     Switzerland    183.923077
16         Turkiye    183.923077
17         Romania    183.846154
18         Albania    183.615385
19         Austria    183.192308
20         Hungary    182.807692
21        Scotland    182.692308
22         England    182.461538
23        Portugal    182.384615
24           Spain    181.769231

#### Ranking de edad promedio de los equipos

In [129]:
edad_rank = data_equipos.loc[:,['Pais', 'Edad']].sort_values('Edad',ascending=False).set_index(data_equipos.index+1)
edad_rank

              Pais       Edad
1         Scotland  28.230769
2          Germany  28.115385
3          Croatia  27.692308
4      Switzerland  27.692308
5          Denmark  27.692308
6           Poland  27.555556
7          Hungary  27.423077
8           Serbia  27.384615
9         Slovenia  27.346154
10         Albania  27.307692
11        Slovakia  27.269231
12         Georgia  27.153846
13         Romania  27.000000
14           Spain  26.961538
15        Portugal  26.961538
16          France  26.880000
17         Belgium  26.880000
18         Austria  26.807692
19     Netherlands  26.538462
20           Italy  26.500000
21         Ukraine  26.346154
22         England  26.076923
23         Turkiye  25.807692
24  Czech Republic  25.307692

#### Ranking de experiencia por equipos

In [130]:
exp_rank = data_equipos.loc[:,['Pais', 'Partidos']].sort_values('Partidos',ascending=False).set_index(data_equipos.index+1)
exp_rank

              Pais  Partidos
1          Croatia      1152
2         Portugal      1113
3      Switzerland      1092
4          Denmark      1071
5          Belgium       949
6          Germany       906
7         Slovakia       862
8           Serbia       860
9          Ukraine       849
10     Netherlands       838
11          France       836
12          Poland       825
13        Slovenia       771
14         Hungary       750
15         Georgia       750
16         Albania       679
17         England       651
18        Scotland       643
19         Turkiye       632
20         Austria       613
21         Romania       590
22           Spain       535
23           Italy       529
24  Czech Republic       405

In [131]:
rel_exp = (
    data_equipos.loc[:,['Pais', 'Partidos','Edad' ]]
    .assign(Exp_Edad = data_equipos['Partidos']/data_equipos['Edad'])
    .sort_values('Partidos',ascending=False)
    .set_index(data_equipos.index+1)

)
rel_exp

              Pais  Partidos       Edad   Exp_Edad
1          Croatia      1152  27.692308  41.600000
2         Portugal      1113  26.961538  41.281027
3      Switzerland      1092  27.692308  39.433333
4          Denmark      1071  27.692308  38.675000
5          Belgium       949  26.880000  35.305060
6          Germany       906  28.115385  32.224350
7         Slovakia       862  27.269231  31.610719
8           Serbia       860  27.384615  31.404494
9          Ukraine       849  26.346154  32.224818
10     Netherlands       838  26.538462  31.576812
11          France       836  26.880000  31.101190
12          Poland       825  27.555556  29.939516
13        Slovenia       771  27.346154  28.194093
14         Hungary       750  27.423077  27.349229
15         Georgia       750  27.153846  27.620397
16         Albania       679  27.307692  24.864789
17         England       651  26.076923  24.964602
18        Scotland       643  28.230769  22.776567
19         Turkiye       632  25.807692  24.488823
20         Austria       613  26.807692  22.866571
21         Romania       590  27.000000  21.851852
22           Spain       535  26.961538  19.843081
23           Italy       529  26.500000  19.962264
24  Czech Republic       405  25.307692  16.003040

#### Ranking de goles por equipo

In [132]:
goles_rank = data_equipos.loc[:,['Pais', 'Goles']].sort_values('Goles',ascending=False).set_index(data_equipos.index+1)
goles_rank

              Pais  Goles
1         Portugal    225
2           France    192
3          Belgium    177
4           Poland    154
5          Croatia    147
6      Netherlands    141
7          Denmark    135
8          Germany    134
9           Serbia    129
10     Switzerland    125
11         Ukraine    114
12         England    100
13           Spain     95
14         Austria     93
15        Slovenia     78
16         Turkiye     71
17        Slovakia     67
18  Czech Republic     65
19         Georgia     64
20         Romania     63
21         Hungary     60
22           Italy     59
23        Scotland     59
24         Albania     40

#### Ranking de Valor de Mercado por equipos

In [133]:
VM_rank = data_equipos.loc[:,['Pais', 'Valor_de_Mercado']].sort_values('Valor_de_Mercado',ascending=False).assign(Pos=data_equipos.index+1)
VM_rank

              Pais  Valor_de_Mercado  Pos
6          England           1515.00    1
7           France           1234.00    2
14        Portugal           1054.50    3
20           Spain            965.50    4
9          Germany            851.00    5
12     Netherlands            845.00    6
11           Italy            705.50    7
2          Belgium            584.50    8
5          Denmark            415.50    9
23         Ukraine            379.00   10
3          Croatia            327.70   11
22         Turkiye            324.10   12
17          Serbia            311.80   13
21     Switzerland            282.00   14
1          Austria            235.50   15
13          Poland            212.40   16
16        Scotland            207.40   17
4   Czech Republic            193.90   18
10         Hungary            164.45   19
8          Georgia            160.15   20
18        Slovakia            156.70   21
19        Slovenia            139.50   22
0          Albania            111.60   23
15         Romania             92.12   24

### Preguntas de 2do Nivel

#### Agregando variables necesarias

##### Agregando Promedio de goles

In [134]:
data_equipos = (
    data_equipos
    .assign(Prom_Goles= data_equipos['Goles']/data_equipos['Partidos'])
    
)

data_equipos

,Pais,Posicion,Edad,Estatura(cm),Partidos,Goles,Valor_de_Mercado,Total_Jugadores,Prom_Goles
0,Albania,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.307692,183.615385,679,40,111.60,26,0.058910
1,Austria,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.807692,183.192308,613,93,235.50,26,0.151713
2,Belgium,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.880000,184.680000,949,177,584.50,25,0.186512
3,Croatia,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.692308,184.115385,1152,147,327.70,26,0.127604
4,Czech Republic,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,25.307692,185.538462,405,65,193.90,26,0.160494
5,Denmark,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.692308,186.269231,1071,135,415.50,26,0.126050
6,England,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.076923,182.461538,651,100,1515.00,26,0.153610
7,France,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.880000,184.440000,836,192,1234.00,25,0.229665
8,Georgia,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.153846,184.500000,750,64,160.15,26,0.085333
9,Germany,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,28.115385,185.384615,906,134,851.00,26,0.147903
10,Hungary,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.423077,182.807692,750,60,164.45,26,0.080000
11,Italy,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.500000,184.346154,529,59,705.50,26,0.111531
12,Netherlands,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.538462,185.192308,838,141,845.00,26,0.168258
13,Poland,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.555556,184.814815,825,154,212.40,27,0.186667
14,Portugal,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.961538,182.384615,1113,225,1054.50,26,0.202156
15,Romania,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.000000,183.846154,590,63,92.12,26,0.106780
16,Scotland,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,28.230769,182.692308,643,59,207.40,26,0.091757
17,Serbia,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.384615,186.769231,860,129,311.80,26,0.150000
18,Slovakia,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.269231,184.423077,862,67,156.70,26,0.077726
19,Slovenia,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.346154,184.923077,771,78,139.50,26,0.101167
20,Spain,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.961538,181.769231,535,95,965.50,26,0.177570
21,Switzerland,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,27.692308,183.923077,1092,125,282.00,26,0.114469
22,Turkiye,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,25.807692,183.923077,632,71,324.10,26,0.112342
23,Ukraine,PorteroPorteroPorteroDefensa-CentralDefensa-Ce...,26.346154,184.346154,849,114,379.00,26,0.134276

##### DataFrame resumen posiciones de los jugadores

In [135]:
posiciones_df = data.pivot_table(index= 'Pais', columns='Posicion', values='Nombre', aggfunc='count').reset_index()
posiciones_df = posiciones_df.fillna(0)


posiciones_resumen_df = (
    pd.DataFrame({
    'Pais' : posiciones_df['Pais']
    
    })
    .assign(
        Defensas= posiciones_df['Defensa-Central']
        + posiciones_df['Lateral-Derecho']
        + posiciones_df['Lateral-Izquierdo']
        
    ) 
    .assign(
        Centrocampista= posiciones_df['Centrocampista-Central'] 
        + posiciones_df['Centrocampista-Defensivo'] 
        + posiciones_df['Centrocampista-Ofensivo']
        + posiciones_df['Interior-Derecho']
        + posiciones_df['Interior-Izquierdo']
    )
    .assign(
        Atacantes= posiciones_df['Delantero-Centro'] 
        + posiciones_df['Extremo-Derecho'] 
        + posiciones_df['Extremo-Izquierdo']
        + posiciones_df['Segundo-Delantero']
    )
)




posiciones_resumen_df.sort_values(by='Atacantes',ascending=False)

              Pais  Defensas  Centrocampista  Atacantes
5          Denmark       9.0             6.0        8.0
7           France       8.0             6.0        8.0
8          Georgia       7.0             8.0        8.0
22         Turkiye       8.0             7.0        8.0
21     Switzerland       7.0             8.0        8.0
15         Romania       8.0             7.0        8.0
23         Ukraine      10.0             6.0        7.0
17          Serbia       8.0             8.0        7.0
2          Belgium       8.0             7.0        7.0
3          Croatia       8.0             8.0        7.0
4   Czech Republic       8.0             8.0        7.0
6          England       9.0             7.0        7.0
20           Spain       8.0             8.0        7.0
18        Slovakia       8.0             8.0        7.0
14        Portugal       8.0             8.0        7.0
19        Slovenia       8.0             9.0        6.0
0          Albania       9.0             8.0        6.0
13          Poland       7.0            11.0        6.0
11           Italy      10.0             7.0        6.0
9          Germany       9.0             8.0        6.0
12     Netherlands       7.0            10.0        6.0
16        Scotland      10.0             8.0        5.0
1          Austria       8.0            10.0        5.0
10         Hungary      11.0             8.0        4.0

#### Prediciendo formacion

#### Agregando valor de mercado plantilla titular

In [136]:
data_resumen_posicion = data.copy(deep=True)
data_resumen_posicion['Posicion'] = data_resumen_posicion['Posicion'].apply(posicion_generica)

equipo_titular = (
    data_resumen_posicion
    .transform_column(
        column_name = 'Valor_de_Mercado',
        function = lambda x: x/1000000
    )
    .rename_columns(
        {
            'Valor_de_Mercado' : 'Valor_de_Mercado(Millones)'
        }
    )
    .groupby(['Pais','Posicion','Nombre'])
    .sum()
    .sort_values(by=['Pais','Posicion','Valor_de_Mercado(Millones)'],ascending=False)
   
    .drop(columns=['Club', 'Estatura(cm)', 'Pierna_Dom', 'Edad'])
    .groupby(['Pais', 'Posicion'], group_keys=False)
    .apply(filtrar_top_jugadores)
    .reset_index()
)



equipo_titular

,Pais,Posicion,Nombre,Partidos,Goles,Valor_de_Mercado(Millones)
0,Albania,Centrocampista,Kristjan Asllani,20,2,18.0
1,Albania,Centrocampista,Ernest Muci,10,3,13.0
2,Albania,Centrocampista,Nedim Bajrami,23,4,4.5
3,Albania,Defensa,Berat Djimsiti,57,1,10.0
4,Albania,Defensa,Marash Kumbulla,19,0,4.5
...,...,...,...,...,...,...
259,Ukraine,Defensa,Mykola Matvienko,64,0,18.0
260,Ukraine,Delantero,Artem Dovbyk,27,9,35.0
261,Ukraine,Delantero,Mykhaylo Mudryk,20,2,35.0
262,Ukraine,Delantero,Viktor Tsygankov,53,12,30.0
263,Ukraine,Portero,Anatoliy Trubin,11,0,25.0

#### Equipo Titular sin portero

In [137]:
data_resumen_posicion_SP = data_resumen_posicion[data_resumen_posicion['Posicion']!= 'Portero']

equipo_titular_SP = (
    data_resumen_posicion_SP
    .transform_column(
        column_name = 'Valor_de_Mercado',
        function = lambda x: x/1000000
    )
    .rename_columns(
        {
            'Valor_de_Mercado' : 'Valor_de_Mercado(Millones)'
        }
    )
    .groupby(['Pais','Posicion','Nombre'])
    .sum()
    .sort_values(by=['Pais','Posicion','Valor_de_Mercado(Millones)'],ascending=False)
   
    .drop(columns=['Club', 'Estatura(cm)', 'Pierna_Dom', 'Edad'])
    .groupby(['Pais', 'Posicion'], group_keys=False)
    .apply(filtrar_top_jugadores)
    .reset_index()
)
equipo_titular_SP

,Pais,Posicion,Nombre,Partidos,Goles,Valor_de_Mercado(Millones)
0,Albania,Centrocampista,Kristjan Asllani,20,2,18.0
1,Albania,Centrocampista,Ernest Muci,10,3,13.0
2,Albania,Centrocampista,Nedim Bajrami,23,4,4.5
3,Albania,Defensa,Berat Djimsiti,57,1,10.0
4,Albania,Defensa,Marash Kumbulla,19,0,4.5
...,...,...,...,...,...,...
235,Ukraine,Defensa,Vitaliy Mykolenko,40,1,28.0
236,Ukraine,Defensa,Mykola Matvienko,64,0,18.0
237,Ukraine,Delantero,Artem Dovbyk,27,9,35.0
238,Ukraine,Delantero,Mykhaylo Mudryk,20,2,35.0
239,Ukraine,Delantero,Viktor Tsygankov,53,12,30.0

#### Rankings

##### Ranking posiciones

In [138]:
ranking_posiciones = posiciones_resumen_df.sort_values(by='Atacantes',ascending=False).set_index(data_equipos.index + 1)
ranking_posiciones

              Pais  Defensas  Centrocampista  Atacantes
1          Denmark       9.0             6.0        8.0
2           France       8.0             6.0        8.0
3          Georgia       7.0             8.0        8.0
4          Turkiye       8.0             7.0        8.0
5      Switzerland       7.0             8.0        8.0
6          Romania       8.0             7.0        8.0
7          Ukraine      10.0             6.0        7.0
8           Serbia       8.0             8.0        7.0
9          Belgium       8.0             7.0        7.0
10         Croatia       8.0             8.0        7.0
11  Czech Republic       8.0             8.0        7.0
12         England       9.0             7.0        7.0
13           Spain       8.0             8.0        7.0
14        Slovakia       8.0             8.0        7.0
15        Portugal       8.0             8.0        7.0
16        Slovenia       8.0             9.0        6.0
17         Albania       9.0             8.0        6.0
18          Poland       7.0            11.0        6.0
19           Italy      10.0             7.0        6.0
20         Germany       9.0             8.0        6.0
21     Netherlands       7.0            10.0        6.0
22        Scotland      10.0             8.0        5.0
23         Austria       8.0            10.0        5.0
24         Hungary      11.0             8.0        4.0

##### Ranking promedio de goles

In [139]:
GolProm_rank = (
    data_equipos
    .select_columns(['Pais'])
    .assign(Prom_Goles= data_equipos_SP['Goles']/data_equipos_SP['Partidos'])
    .sort_values('Prom_Goles', ascending=False)
    .assign(Pos=data_equipos.index+1)
    )
GolProm_rank

              Pais  Prom_Goles  Pos
7           France    0.236162    1
14        Portugal    0.228891    2
13          Poland    0.210095    3
20           Spain    0.193878    4
2          Belgium    0.190118    5
9          Germany    0.179384    6
12     Netherlands    0.172583    7
6          England    0.171233    8
4   Czech Republic    0.164557    9
1          Austria    0.162872   10
17          Serbia    0.159851   11
23         Ukraine    0.140915   12
5          Denmark    0.140479   13
3          Croatia    0.134615   14
11           Italy    0.127430   15
21     Switzerland    0.126263   16
22         Turkiye    0.125000   17
19        Slovenia    0.113869   18
15         Romania    0.113106   19
8          Georgia    0.097561   20
16        Scotland    0.093354   21
10         Hungary    0.090909   22
18        Slovakia    0.083960   23
0          Albania    0.070299   24

##### Ranking distribución de goles

In [140]:
ranking_dist_goles = (
    data
    .select_columns(['Pais', 'Goles'])
    .rename_columns(
        {
            'Goles' : 'Ind_Dist_Goles'
        }
          
    )
    .groupby('Pais').std()
    .sort_values('Ind_Dist_Goles')
    .assign(Pos=data_equipos.index+1)
)



ranking_dist_goles

                Ind_Dist_Goles  Pos
Pais
Albania               1.881080    1
Italy                 2.807956    2
Hungary               3.295685    3
Slovakia              3.568452    4
Scotland              3.572760    5
Romania               3.579643    6
Georgia               3.797165    7
Czech Republic        4.235564    8
Slovenia              4.308132    9
Turkiye               4.984437   10
Switzerland           6.939851   11
Spain                 7.504358   12
Austria               8.178866   13
Denmark               8.366692   14
Croatia               9.103592   15
Ukraine               9.393942   16
Netherlands           9.968643   17
Germany              10.090361   18
Serbia               11.786368   19
England              12.295340   20
Poland               15.895850   21
France               15.949713   22
Belgium              16.989997   23
Portugal             24.927001   24

##### Ranking valor de mercado equipo titular

In [141]:
ranking_equipo_titular_VM = (
    
    equipo_titular
    .select_columns(['Pais', 'Goles', 'Valor_de_Mercado(Millones)'])
    .groupby('Pais').sum()
    .sort_values('Valor_de_Mercado(Millones)',ascending=False)
    
)
ranking_equipo_titular_VM

                Goles  Valor_de_Mercado(Millones)
Pais
England            91                       976.0
France             68                       838.0
Portugal           56                       655.0
Germany            41                       621.0
Spain              26                       615.0
Netherlands        25                       535.0
Italy              36                       460.0
Belgium            36                       386.0
Denmark            39                       302.0
Ukraine            43                       293.0
Serbia             87                       238.5
Turkiye            32                       230.0
Croatia            48                       228.5
Switzerland        45                       210.0
Scotland           37                       165.0
Austria            51                       161.0
Georgia            42                       148.2
Poland            117                       146.5
Hungary            42                       146.0
Czech Republic     37                       131.0
Slovakia           29                       131.0
Slovenia           35                       119.6
Albania            29                        89.0
Romania            31                        68.8

##### Ranking de goles equipo titular

In [142]:
ranking_equipo_titular_G = (
    
    equipo_titular_SP
    .select_columns(['Pais', 'Goles', 'Valor_de_Mercado(Millones)', 'Partidos'])
    .groupby('Pais').sum()
    .reset_index()
    
    .set_index(data_equipos.index + 1)
    
)
hola = (
        ranking_equipo_titular_G
        .assign(Prom_Goles = ranking_equipo_titular_G['Goles']/ ranking_equipo_titular_G['Partidos'])
        .sort_values('Prom_Goles',ascending=False)
        .set_index(data_equipos.index + 1)
    )
hola

              Pais  Goles  Valor_de_Mercado(Millones)  Partidos  Prom_Goles
1           Poland    117                       126.5       423    0.276596
2           Serbia     87                       218.5       317    0.274448
3          England     91                       951.0       354    0.257062
4           France     68                       800.0       303    0.224422
5         Portugal     56                       615.0       320    0.175000
6   Czech Republic     37                       124.0       218    0.169725
7          Austria     51                       159.0       305    0.167213
8          Georgia     42                       113.2       256    0.164062
9          Hungary     42                       143.0       259    0.162162
10           Italy     36                       420.0       229    0.157205
11           Spain     26                       580.0       167    0.155689
12         Belgium     36                       379.0       253    0.142292
13         Croatia     48                       217.5       344    0.139535
14         Denmark     39                       293.0       281    0.138790
15         Turkiye     32                       220.0       231    0.138528
16        Slovenia     35                        91.6       278    0.125899
17         Romania     31                        65.8       257    0.120623
18        Scotland     37                       162.5       309    0.119741
19         Germany     41                       593.0       350    0.117143
20     Netherlands     25                       517.0       226    0.110619
21         Ukraine     43                       268.0       407    0.105651
22        Slovakia     29                       128.0       305    0.095082
23     Switzerland     45                       170.0       486    0.092593
24         Albania     29                        86.0       323    0.089783

#### Conformando DataFrame con posiciones de ranking

In [143]:
ranking_general_df = (
    data_equipos
    .select_columns(['Pais'])
    
    
    
)
ranking_general_df['Pos_Rank_VM'] = VM_rank['Pos']
ranking_general_df['Pos_Rank_GP'] = GolProm_rank['Pos']

ranking_general_df

              Pais  Pos_Rank_VM  Pos_Rank_GP
0          Albania           23           24
1          Austria           15           10
2          Belgium            8            5
3          Croatia           11           14
4   Czech Republic           18            9
5          Denmark            9           13
6          England            1            8
7           France            2            1
8          Georgia           20           20
9          Germany            5            6
10         Hungary           19           22
11           Italy            7           15
12     Netherlands            6            7
13          Poland           16            3
14        Portugal            3            2
15         Romania           24           19
16        Scotland           17           21
17          Serbia           13           11
18        Slovakia           21           23
19        Slovenia           22           18
20           Spain            4            4
21     Switzerland           14           16
22         Turkiye           12           17
23         Ukraine           10           12

#### Asignando puntuaciones para primer filtrado

In [144]:
ranking_puntuacion = (
    ranking_general_df
    .assign(Puntuacion= (ranking_general_df['Pos_Rank_VM'].apply(asignar_puntos_posicion) 
            +ranking_general_df['Pos_Rank_GP'].apply(asignar_puntos_posicion)) / 2 )
    .sort_values('Puntuacion', ascending= False)
    
)
ranking_puntuacion

              Pais  Pos_Rank_VM  Pos_Rank_GP  Puntuacion
7           France            2            1         9.5
14        Portugal            3            2         8.5
20           Spain            4            4         7.0
6          England            1            8         6.5
9          Germany            5            6         5.5
12     Netherlands            6            7         4.5
2          Belgium            8            5         4.5
13          Poland           16            3         4.0
11           Italy            7           15         2.0
4   Czech Republic           18            9         1.0
5          Denmark            9           13         1.0
1          Austria           15           10         0.5
23         Ukraine           10           12         0.5
10         Hungary           19           22         0.0
8          Georgia           20           20         0.0
15         Romania           24           19         0.0
16        Scotland           17           21         0.0
17          Serbia           13           11         0.0
18        Slovakia           21           23         0.0
19        Slovenia           22           18         0.0
3          Croatia           11           14         0.0
21     Switzerland           14           16         0.0
22         Turkiye           12           17         0.0
0          Albania           23           24         0.0

#### DF Paises Top

In [145]:
df_equipos_top = ranking_puntuacion.iloc[:10]
df_equipos_top

              Pais  Pos_Rank_VM  Pos_Rank_GP  Puntuacion
7           France            2            1         9.5
14        Portugal            3            2         8.5
20           Spain            4            4         7.0
6          England            1            8         6.5
9          Germany            5            6         5.5
12     Netherlands            6            7         4.5
2          Belgium            8            5         4.5
13          Poland           16            3         4.0
11           Italy            7           15         2.0
4   Czech Republic           18            9         1.0

### Rankings paises top

In [146]:
lista_paises_top = [    'France',
                        'Portugal',
                        'Spain',
                        'England',
                        'Netherlands',
                        'Belgium',
                        'Poland',
                        'Germany',
                        'Czech Republic',	
                        'Italy']

##### Ranking Goles

In [147]:
GolProm_rank_top = (
    GolProm_rank.loc[GolProm_rank['Pais'].isin(lista_paises_top)]
    .drop(columns=['Pos'])
    .assign(Pos= range(1,11))
    
    )
GolProm_rank_top

              Pais  Prom_Goles  Pos
7           France    0.236162    1
14        Portugal    0.228891    2
13          Poland    0.210095    3
20           Spain    0.193878    4
2          Belgium    0.190118    5
9          Germany    0.179384    6
12     Netherlands    0.172583    7
6          England    0.171233    8
4   Czech Republic    0.164557    9
11           Italy    0.127430   10

##### Ranking Valor Mercado

In [148]:
VM_rank_top = (
    VM_rank.loc[VM_rank['Pais'].isin(lista_paises_top)]
    .drop(columns=['Pos'])
    .assign(Pos= range(1,11))
    
    )
GolProm_rank_top

VM_rank_top

              Pais  Valor_de_Mercado  Pos
6          England            1515.0    1
7           France            1234.0    2
14        Portugal            1054.5    3
20           Spain             965.5    4
9          Germany             851.0    5
12     Netherlands             845.0    6
11           Italy             705.5    7
2          Belgium             584.5    8
13          Poland             212.4    9
4   Czech Republic             193.9   10

##### Dist. Goles

In [149]:
ranking_dist_goles_top = (
    data
    
    
    .select_columns(['Pais', 'Goles'])
    .rename_columns(
        {
            'Goles' : 'Ind_Dist_Goles'
        }
          
    )
    .groupby('Pais').std()
    
    .reset_index()
    
    
)
ranking_dist_goles_top = (
    ranking_dist_goles_top.loc[ranking_dist_goles_top['Pais'].isin(lista_paises_top)]
    .sort_values('Ind_Dist_Goles')
    .assign(Pos=range(1,11))
    )


ranking_dist_goles_top

              Pais  Ind_Dist_Goles  Pos
11           Italy        2.807956    1
4   Czech Republic        4.235564    2
20           Spain        7.504358    3
12     Netherlands        9.968643    4
9          Germany       10.090361    5
6          England       12.295340    6
13          Poland       15.895850    7
7           France       15.949713    8
2          Belgium       16.989997    9
14        Portugal       24.927001   10

##### VM Equipo titular

In [150]:
ranking_equipo_titular_VM_top = (
    
    equipo_titular
    
    .select_columns(['Pais', 'Goles', 'Valor_de_Mercado(Millones)'])
    .groupby('Pais').sum()
    .reset_index()
    
)
ranking_equipo_titular_VM_top = (
    ranking_equipo_titular_VM_top.loc[ranking_equipo_titular_VM_top['Pais'].isin(lista_paises_top)]
    .sort_values('Valor_de_Mercado(Millones)', ascending= False)
    .assign(Pos=range(1,11))
    )

ranking_equipo_titular_VM_top

              Pais  Goles  Valor_de_Mercado(Millones)  Pos
6          England     91                       976.0    1
7           France     68                       838.0    2
14        Portugal     56                       655.0    3
9          Germany     41                       621.0    4
20           Spain     26                       615.0    5
12     Netherlands     25                       535.0    6
11           Italy     36                       460.0    7
2          Belgium     36                       386.0    8
13          Poland    117                       146.5    9
4   Czech Republic     37                       131.0   10

##### GP Equipo Titular

In [151]:
ranking_equipo_titular_G = (
    
    equipo_titular
    
    .select_columns(['Pais', 'Goles', 'Valor_de_Mercado(Millones)', 'Partidos'])
    .groupby('Pais').sum()
    .reset_index()
    
)

ranking_equipo_titular_G_top = (
        ranking_equipo_titular_G
        .loc[ranking_equipo_titular_G['Pais'].isin(lista_paises_top)]
        .assign(Prom_Goles = ranking_equipo_titular_G['Goles']/ ranking_equipo_titular_G['Partidos'])
        .sort_values('Prom_Goles',ascending=False)
        .assign(Pos=range(1,11))
    )
ranking_equipo_titular_G_top

,Pais,Goles,Valor_de_Mercado(Millones),Partidos,Prom_Goles,Pos
13,Poland,117,146.5,424,0.275943,1
6,England,91,976.0,359,0.253482,2
7,France,68,838.0,318,0.213836,3
4,Czech Republic,37,131.0,219,0.168950,4
14,Portugal,56,655.0,340,0.164706,5
20,Spain,26,615.0,172,0.151163,6
2,Belgium,36,386.0,261,0.137931,7
11,Italy,36,460.0,290,0.124138,8
12,Netherlands,25,535.0,232,0.107759,9
9,Germany,41,621.0,390,0.105128,10

#### Conformando Dataframe con todas las puntuaciones

In [152]:
df_equipos_top = (
    df_equipos_top
    .drop(columns= ['Pos_Rank_VM','Pos_Rank_GP'])
    .assign(
        Pos_Rank_VM = VM_rank_top['Pos']
    )
    .assign( 
        Pos_Rank_GP = GolProm_rank_top['Pos']
    )
    .assign(
        Pos_Dist_Goles = ranking_dist_goles_top['Pos']
    )
    .assign(
        Pos_VM_Titular = ranking_equipo_titular_VM_top['Pos']
    )
    .assign(
        Pos_GP_Titular = ranking_equipo_titular_G_top['Pos']
    )
)


df_equipos_top = df_equipos_top.drop(columns=['Puntuacion'])
df_equipos_top

,Pais,Pos_Rank_VM,Pos_Rank_GP,Pos_Dist_Goles,Pos_VM_Titular,Pos_GP_Titular
7,France,2,1,8,2,3
14,Portugal,3,2,10,3,5
20,Spain,4,4,3,5,6
6,England,1,8,6,1,2
9,Germany,5,6,5,4,10
12,Netherlands,6,7,4,6,9
2,Belgium,8,5,9,8,7
13,Poland,9,3,7,9,1
11,Italy,7,10,1,7,8
4,Czech Republic,10,9,2,10,4

### Ranking Final

In [155]:
Ranking_Final = (
    df_equipos_top
    .assign(Puntuacion= df_equipos_top
            .drop(columns=['Pais'])
            .map(asignar_puntos_posicion)
            .sum(axis=1)/5)
    .sort_values('Puntuacion', ascending= False)
    .set_index(data_equipos.head(10).index+1)
)
Ranking_Final

,Pais,Pos_Rank_VM,Pos_Rank_GP,Pos_Dist_Goles,Pos_VM_Titular,Pos_GP_Titular,Puntuacion
1,France,2,1,8,2,3,7.8
2,England,1,8,6,1,2,7.4
3,Spain,4,4,3,5,6,6.6
4,Portugal,3,2,10,3,5,6.4
5,Poland,9,3,7,9,1,5.2
6,Germany,5,6,5,4,10,5.0
7,Netherlands,6,7,4,6,9,4.6
8,Italy,7,10,1,7,8,4.4
9,Czech Republic,10,9,2,10,4,4.0
10,Belgium,8,5,9,8,7,3.6